.wrapper{
    width: 75%;
    margin: 0 auto;
      
}
/*body{
    width: 100%;
}*/

li{
	float: right;
    
}
span{
	color: #66b8e2;
}
body{
	width: 100%;
}
img {
	width: 50%;
}


/* -------------------block--------------- */
.block-1{
    background-color: #ffffff;
    width: 100%;

}
.block-2{
    background-image:url(img/air%20max%20vue%20dessus.jpg);
}
.block-3{
    
}
block-4{}