#rightTitle{
                display: inline-block;
                color: #898989;
            }
#H2{
    font-size: 23px;
    font-family: 'oswald', sans-serif;
}
#textSite{
    font-size: 13px;
    font-family: 'roboto', sans-serif;
    line-height: 27px;
}

#greyTitle{
    font-family: 'oswald', sans-serif;
    font-size: 13px;
    display: inline-block;
    color: #898989;
    letter-spacing: 1px;
}
    #rightTitle{
                display: inline-block;
                color: #898989;
            }




/*----------------------------------------------MENU-------------------------------------------------*/
#menu{
    padding-top: 20px;
}

    #leftB{
        display: -webkit-inline-box;
        float: left;
        font-family: 'oswald', sans-serif;
        display: inline-block;
        padding-right: 28.9%;
        padding-left: 20px;
        font-size: 15px;
    }
        .logo{
            padding-right: 20px;
            display: inline-block;
            float: left;
        }
        .menu{
            display: inline-block;
        }
        li{
            color: #898989; 
        }
            li span:hover{
                border-bottom: solid;
                border-bottom-color: #0089cf;
                color:black;
                padding-bottom: 25px;
            }
            .first{
                padding-right: 20px;
                padding-top: 19px;
                display: inline-block;
            }
            .second{
                padding-top: 19px;
                display: inline-block;
            }
    #rightB{
        font-family: 'oswald', sans-serif;
        padding-top: 9px;
        padding-right: 20px;
        font-size: 15px;
    }
#rightTitle{
                display: inline-block;
                color: #898989;
            }

        .search{
           display: inline-block;
           width: 7%;
           padding-right: 27px;
        }
.imgS{
    float: left;
    width: 24%;
    padding-right: 10px;
    padding-top: 12px;
}
            .liner:hover{
                border-bottom: solid;
                border-bottom-color: #0089cf;
                padding-bottom: 25px; 
            }
        .cart{
        display: inline-block;
        width: 8%;
        padding-right: 27px;
        }
             .imgC{
                width: 24%;
                padding-right: 10px; 
            }
                .number{
                    padding-left: 4px;
                    color: #0089cf;
                }
        .sign{
        float: right;
        display: inline-block;
        width: 7%;
        }

/*----------------------------------------------PAGE 1-------------------------------------------------*/

.imgAirMax{
    padding-left: 90px;
    padding-top: 157px;
    display: inline-block;
}
.buy{
    
    width: 261px;
    display: inline-block;
    float: right;
    margin-right:  35px;
    margin-top: 50px;
    font-family: 'oswald', sans-serif;
}
    .heart{
        background-image: url(img/heart2.png);
        margin-top: 10px;
        margin-left: 15px;
    }
    .brand{
        padding-top: 43px;
    }
    .model{
        font-size: 30px;
        padding-top: 10px;
    }
    .price{
        color: #0089cf;
        padding-top: 10px;
        font-size: 18px;
    }
    .detail{
        padding-top: 20px;
        font-size: 13px;
    }
        #color{
            color: #0089cf;     
        }
    .imgAirMax2{
        
        padding-right: 9px;
        padding-top: 14px;
    }
.size{
    
    float: left;
    margin-left: -174px;
    position: absolute;
    margin-top: 102px;
    font-size: 12px;
    color: #c1c1c1;
}

#sizechart{
    
    border: 3px solid #8f8f8f;
    width: 110px;
    height: 50px;
    background: rgba(68,78,86,0);
    margin-top: 35px;
}   

#Butt{
    width: 115px;
    height: 50px;
    padding: 10px;
    border: 1px solid;
    background-color: #333333;
    color: white;
    text-transform: uppercase;
    font-family: 'Ropa Sans',sans-serif;
    font-size: 14px;
    margin-left: 20px;
}

        #arrow{
            width: 12%;
            display: inline-block;
            padding-left: 45px;
            font-family: 'oswald', sans-serif;
        }
        #add2Cart{
            font-size: 14px;
            display: inline-block;
            padding-top: 19px;
            padding-left: 27px;
            color: white;
            font-family: 'oswald', sans-serif;
        }
/*----------------------------------------------PAGE 2-------------------------------------------------*/
#page2{
    padding-top: 150px;
}

    .backgroundIMG{
        position: absolute;
    }
.backgroundIMG .backgroundShoes{
    height: 660px;
    background: url("images/bloc2/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
            
        }
    .paragraphe{
        position:relative;
        padding-top: 260px;
        padding-left: 50px;
        margin-bottom: 197px;
    }
        .text1{
            padding-bottom: 23px;
            color: white;
        }
        .textColor{
            width: 30%;
            color: white;
        }
/*----------------------------------------------PAGE 3-------------------------------------------------*/
#page3{

}
    .backgroundIMG2{
        position: absolute;
    }
        .backgroundIMG2 .backgroundShoes2{
            width: 100%;
        }
    .blocTextP3,.buy2{
        position:relative;
    }
    .blocTextP3{
        height: 453px;
        width: 372px;
        margin-left: 50px;
        margin-top: 106px;
        display: inline-block;
    }
        .story{
            padding-bottom: 9px;
        }
        .Title2{
            
        }
        .para1{
            color: #898989; 
        }
        .benefit{
            padding-top: 20px;
        }
.bloc2TextP3 {
    line-height: 1px;
    padding-top: 10px;
}
            #H3{
                font-family: 'oswald', sans-serif;
                padding-bottom: 8px;
                font-size: 18px;
            }
            .insideBlocP{
                font-family: 'roboto', sans-serif;
                padding-bottom: 18px;
                font-size: 11px;
                color: #898989;
            }

    .buy2{
        height: 430px;
        width: 301px;
        border: 4px solid;
        display: inline-block;
        float: right;
        margin-top: 114px;
        right: 40px;
        background-color: white;
        border-color: #e3e3e3;;
    }
    .Title3{
        padding-top: 21px;
        padding-left: 27px;
        
    }
    .para2{
        padding-left: 27px;
        
    }
    .colorStyle{
        padding-left: 27px;
        font-family: 'oswald', sans-serif;
        font-size: 13px;
    }
    .AirmaxTavas{
        padding-left: 14px;
        padding-top: 30px;

    }
    .stock{
       display: inline-block;
       font-family: 'oswald', sans-serif;
       font-size: 11px;
       padding-top: 6px;
       padding-left: 20px;
    }
    .dollarP{
        display: inline-block;
        float: right;
        font-family: 'oswald', sans-serif;
        font-size: 16px;
        
        padding-right: 21px;
    }

    .button{
        padding-top: 11px;
        padding-left: 14px;
    }
.boxP3{
            line-height: 1px;
            border: 1px solid;
            height: 50px;
            width: 125px;
            margin-left: 5px;
            display: inline-block;
            float: left;
            background-color: #333333;
            border-color: #e3e3e3;
        }

.size-2{
    
    float: left;
    margin-left: -174px;
    position: absolute;
    margin-top: 300px;
    font-size: 12px;
    color: #c1c1c1;
}

#sizechart-2{
    
    border: 3px solid #8f8f8f;
    width: 110px;
    height: 50px;
    background: rgba(68,78,86,0);
    margin-top: 1px;
    float: left;
}   

#Butt-2{
    width: 115px;
    height: 50px;
    padding: 10px;
    border: 1px solid;
    background-color: #333333;
    color: white;
    text-transform: uppercase;
    font-family: 'Ropa Sans',sans-serif;
    font-size: 14px;
    margin-left: 20px;
}
/*----------------------------------------------PAGE 4-------------------------------------------------*/
#page4{
    margin-top: 83px;
    margin-bottom: 190px;
}
    .endPage{
        margin-left: 50px;
    }
        .social{
            margin-top: 108px;
            padding-bottom: 9px;
        }
        .hashtag{
            padding-bottom: 43px;
        }

/*----------------------------------------------Swipper-------------------------------------------------*/
.wrapperEnd{
    position: relative;
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

