header{
    height:90px;
}
.bloc{
    width: 100%;
    position: relative;
}

/* -------------------header--------------- */
.logo{
    position: absolute;
    top: 21px;
    left: 21px;
    
    
}
    
.menu  ul{
    position: absolute;
    left: 100px;
    top: 40px;
}
.menu li{
    font-family: "Ropa Sans" , sans-serif;
    
    display: inline-block;
    padding: 0px 20px 30px 20px;
    font-size: 14px;
    
    

}
li:hover{
    color: #44a8dc;
    
    border-bottom: 3px solid #44a8dc;
    padding: 0 0 30px 0;
}
.count li{
    font-family: "Ropa Sans" , sans-serif;
    font-size: 14px;
    
    margin-left: -15px;
    
    display: inline-block;
    padding: 0px 20px 30px 20px;
}

.count  ul{
    position: absolute;
    left: 74%;
    top: 40px;
}

.count img {
    padding: 0 10px 0 0;
}
/* -------------------block--------------- */
/* -------------------block-1--------------- */
.block-1{
    height: 610px;
    position: relative;
}
.small-shoes{
    position: absolute;
    top:157px;
    left:130px;
}
.wrapper{
    width: 320px;
    margin: 0 auto;
    position: absolute;
    top:60px;
    left:854px;
    height: 400px;
}
.heart{
    padding: 20px;
    border: 1px solid #e4e4e4;
}
.wrapper h3{
    font-size: 25px;
    padding: 40px 0 6px 0;
}
.wrapper p{
    font-size: 16px;
    color: #808080;
    padding: 15px 0 10px 0;
}   
.price{
    font-size: 18px;
    color: #808080;
    
}
.size{
    font-size: 12px;
    color: #c1c1c1;
}
#shoes-size{
    border: 3px solid #8f8f8f;
    width: 147px;
    height: 50px;
    background: rgba(68,78,86,0);
    margin-top: 14px;
}
/* -------------------block-2--------------- */
.block-2{
    
    height: 660px;
    background: url("images/bloc2/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------block-3--------------- */
.block-3{
    height: 660px;
    background: url("images/bloc3/bgnike.png");
}
/* -------------------block-4--------------- */
block-4{
    height: 660px;
    background-color: antiquewhite;
}
/* -------------------footer--------------- */
